/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family), sans-serif;
  font-variation-settings: var(--font-weight-heading);
  color: var(--accent-color);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  margin-block-start: 100px;
}

/* .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 2px solid var(--accent-color);
  min-height: 327px;
  font-family: var(--font-family-new);
} */

.header {
  display: grid;
  min-height: 327px;
  outline: 2px solid var(--accent-color);
  font-family: var(--font-family-new);
  text-transform: uppercase;
}

.header_title {
  font-size: var(--font-size);
}

.header_text {
  font-size: var(--font-text);
}

.header__theme-menu {
  font-size: var(--font-text);
}